.contenedor{
	background-color: white;
	width: 600px;/*si estoy usando flex y la propiedad ancho no esta al cmbiar el tamaño de la pagina esta se cambia */
	height: 600px;/* si la propiedad ancho esta no puede cambiar si cambiamos el tamaño de la pagweb */
	border: 2px solid black;
	display: inline-flex;
	flex-direction:row-reverse;
	align-items:center ;
	
}

.item{

	background-color: #ccc;
	width: 200px;
	height: 200px;
	margin: 0;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.item:first-child{
	background-color: red;
	
}

.item:nth-child(2){
	background-color: blue;
}
.item:nth-child(3){
	background-color: green;
}