<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/rutaUno">Ruta 1</a></li>
        <li><a href="/rutaDos">Ruta 2</a></li>
        <li><a href="/rutaTres">Ruta 3</a></li>
        <li><a href="/nosotros">nosotros</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
